* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	/* user-select: none; */
}

.section-header {
    max-height: 500px;
    background-image: url("../images/sand_image.png");
    background-size: cover;
    padding-bottom: 158px;
}

.section-menu {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 940px;
    padding-block: 17px;
}

.header__logo {
    margin-top: 5px;
}

.navigation {
    padding-block: 10px;
}

.navigation__list {
}

.navigation__item {
    display: inline;
    padding-inline: 10px;
}

.navigation__link {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-decoration: none;
}

.header__link_color {
    color: rgb(255, 255, 255);
}

.heading__title {
    max-width: 500px;
    margin-top: 100px;
    margin-inline: auto;
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.heading__subtitle {
    max-width: 500px;
    margin-top: 20px;
    margin-inline: auto;
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.heading__button {
    display: block;
    margin-top: 31px;
    margin-inline: auto;
    padding-block: 12px;
    padding-inline: 31px;
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 120, 63);
}

.section-menu-themes {
    background-color: rgb(255, 255, 255);
}

.menu-themes__links {
    max-width: 960px;
    margin-inline: auto;
}

.menu-themes__list {
    padding-block: 10px;
    text-align: center;
}

.menu-themes__item {
    display: inline-block;
    padding-block: 13px;
    padding-inline: 46px;
}

.menu-themes__link {
    font-family: "Lora", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.section-main {
    background-color: rgb(247, 247, 247);
    padding-top: 60px;
}

.featured__posts {
    margin-inline: auto;
}

.featured__title {
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
}

.posts__divisor {
    width: 188px;
    margin-top: 16px;
    margin-inline: auto;
    border: 1px solid #DEDEDE;
  }

.featured__block {
    max-width: 960px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.featured-post {
    position: relative;
    width: 460px;
    margin-block: 7px;
    padding-inline: 20px;
    padding-bottom: 15px;
    border-radius: 3px;
    background-size: cover;
}

.post-background__the-road-ahead {
    background-image: url("../images/posts/northern_lights.png");
}

.post-background__from-top-down {
    background-image: url("../images/posts/howm_loy.png");
}

.post-theme {
    position: absolute;
    left: 20px;
    top: 20px;
    padding-block: 6px;
    padding-inline: 9px;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(221, 120, 63);
}

.featured-post__discription {
    text-decoration: none;
}

.featured-post__title {
    margin-top: 157px;
    font-family: "Lora", serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.featured-post__subtitle {
    margin-top: 6px;
    font-family: Oxygen;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;    
    color: rgb(255, 255, 255, 0.7);
}

.featured-post__about {
    text-decoration: none;
    display: block;
    margin-top: 12px;
}

.featured-post__author {
    text-decoration: none;
}

.featured-post__author-logo {
    display: inline;
    max-width: 26px;
    max-height: 26px;
    border-radius: 45px;
    vertical-align:middle
}

.featured-post__author-name {
    display: inline;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: rgb(255, 255, 255, 0.7);
    
}

.featured-post__date {
    display: inline;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    float: right;
    color: rgb(255, 255, 255, 0.7);
    vertical-align:bottom;
}

.most-recent__posts {
    padding-top: 60px;
    margin-inline: auto;
    padding-bottom: 100px;
}

.most-recent__title {
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
}

.most-recent__block {
    max-width: 960px;
    margin-top: 16px;
    margin-inline: auto;
    display: flex;
    gap: ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.most-recent-post {
    width: 296px;
    margin-block: 7px;
    background-color: rgb(255, 255, 255);
}
.most-recent-post__title {
    margin-top: 14px;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;    
    color: rgb(16, 19, 21);
}

.most-recent-post__subtitle {
    margin-top: 6px;
    font-family: Oxygen;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;      
    color:rgb(122, 122, 122);
}

.most-recent-post__discription {
    height: 93px;
    padding-inline: 13px;
}

.post__divisor {
    width: 100%;
    border: 1px solid #DEDEDE;
}

.most-recent-post__about {
    text-decoration: none;
    display: block;
    padding-inline: 13px;
    padding-block: 12px;
}

.most-recent-post__author {
    text-decoration: none;
}

.most-recent-post__author-logo {
    display: inline;
    max-width: 26px;
    max-height: 26px;
    border-radius: 45px;
    vertical-align:middle
}

.most-recent-post__author-name {
    display: inline;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: rgb(153, 153, 153);
}

.most-recent-post__date {
    display: inline;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    float: right;
    color: rgb(153, 153, 153);
    vertical-align:bottom;
}

.section-footer {
    padding-block: 7px;
    background-image: url("../images/footer_image.png");
    background-color: rgba(35, 47, 56, 0.6);
    background-blend-mode: darken;
    background-size: 100%;
    background-position: 50%;
}